{url new/?lang=<lang>}
{layout "@layout.latte"}
{?global $languages}
{var $netteCacheStorage = new Nette\Caching\Storages\FileStorage(__DIR__ . '/../../../temp/cache')}

{$complete = TRUE}

<?php
$language = '';

foreach ($languages as $node) {
	if ($node[2] === $lang) {
		$language = $node[0];
		break;
	}
}
?>

{#content}
	<h1>{$language} translations not on Khanova škola</h1>
	{includeblock +table.latte, data => getCzechVideosNotOnKs()}
